name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    paths:
      - '**.go'
      - '.github/workflows/test.yml' # for testing changes to the workflow

permissions:
  contents: read

# Cancel in-progress runs when a new workflow with the same group name is triggered
# see: https://www.meziantou.net/how-to-cancel-github-workflows-when-pushing-new-commits-on-a-branch.htm
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Running Unit Tests
        run: |
          go mod tidy
          make test

      - name: Running Integration Tests
        run: |
          go mod tidy
          make test-integration
