name: E2E Tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**.go'
      - '.github/workflows/test-e2e.yml' # for testing changes to the workflow

permissions:
  contents: read

# Cancel in-progress runs when a new workflow with the same group name is triggered
# see: https://www.meziantou.net/how-to-cancel-github-workflows-when-pushing-new-commits-on-a-branch.htm
concurrency:
  # github.workflow: name of the workflow
  # github.event.pull_request.number || github.ref: pull request number or branch name if not a pull request
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

  # Cancel in-progress runs when a new workflow with the same group name is triggered
  cancel-in-progress: true

jobs:
  test-e2e:
    name: Run e2e tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version
      
      # we want to pre-create the manager image to avoid the opaque build step in the tests 
      - name: Run docker build to pre-create the manager image
        run: |
          make docker-build
          
      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e
