name: E2E Tests

on:
  push:

jobs:
  test-e2e:
    name: Run e2e tests
    runs-on: ubuntu-latest
    # don't run when only tags have been pushed
    if: false && github.ref_type != 'tag'
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version
      
      # we want to pre-create the manager image to avoid the opaque build step in the tests 
      - name: Run docker build to pre-create the manager image
        run: |
          make docker-build
          
      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e
