name: Tests

on:
  pull_request:
    paths:
      - '**.go'
      - '.github/workflows/test.yml' # for testing changes to the workflow

permissions:
  contents: read

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Running Unit Tests
        run: |
          go mod tidy
          make test

      - name: Running Integration Tests
        run: |
          go mod tidy
          make test-integration
